.board {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.row {
  display: flex;
  gap: 2px;
}

.cell {
  width: 30px;
  height: 30px;
  background-color: #eee;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}

.cell.you {
  background-color: #aaffaa;
}

.cell.other {
  background-color: #aaaaff;
}
